[submodule "image_generator-free/stable-diffusion-webui"]
	path = image_generator-free/stable-diffusion-webui
	url = git@github.com:AUTOMATIC1111/stable-diffusion-webui.git
[submodule "image_generator_free/stable-diffusion-webui"]
	path = image_generator_free/stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
